.footer {
  padding: 4rem;
  background-color: $color-primary;
  color: $color-light-grey;

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__content &__social {
    display: flex;
    justify-content: space-between;

    & :not(:last-child) {
      padding-right: 2rem;
    }

    & a {
      text-decoration: none;
      font-size: 3rem;
      color: white;
    }
  }
}
