.skills {
  grid-column: center-start / center-end;

  &__heading {
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;

    font-size: 2em;
  }

  &__skill--progress {
    position: relative;
    display: block;
    padding: 0.2rem;
    border-radius: 3rem;
    background-color: $color-primary;
    width: 100%;
    margin-bottom: 2rem;

    span {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      height: 2rem;
      border-radius: 1rem 0 0 1rem;
      background-color: $color-fuschia;
    }
  }
}
