// COLORS
$color-primary: #0c1a2f; //nav
$color-primary-dark: #0c2b23;
$color-secondary: #45ac9d; // green
$color-light-grey: #f5e5d7;
$color-light-blue: #0088a9;
$color-orange: #471309;
$color-green: #08210e;
$color-white: #fff;
$color-black: #000;
$color-fuschia: #ff0081;
