// COLORS
$color-primary: #0C1A2F; //nav
$color-primary-dark: #0c2b23;
$color-secondary: #45AC9D; // green
$color-light-grey: #F5E5D7;
$color-light-blue: #0088a9;
$color-orange: #471309;
$color-green: #08210E;